:root {
  --Soft-orange: hsl(35, 77%, 62%);
  --Soft-red: hsl(5, 85%, 63%);

  --Off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  padding: 2rem;
}

main {
  max-width: 1475px;
}

header {
  margin-bottom: 2rem;
}

section {
  margin-bottom: 5rem;
}

.container-hamburguer {
  width: 30px;
  height: 30px;
  background-image: url(../images/icon-menu.svg);
  position: absolute;
  top: 20px;
  right: 20px;
}

.cambio {
  background-image: url(../images/icon-menu-close.svg);
}

.aparicion-menu {
  background: var(--Off-white);
  position: absolute;
  right: 0;
  top: 0;
  width: 70%;
  height: 100%;
  display: block;
  box-shadow: 0 0 0 20rem rgba(0, 0, 0, 0.4);
  position: fixed;
  padding: 15rem 0 30rem 3rem;
  transition: 0.4s;
}

.lista-navbar {
  display: flex none;
  flex-direction: column;
}

.lista-item__link {
  display: none;
  font-size: 2.4rem;
  margin-bottom: 5rem;
}

.aparece {
  display: block;
}

.logo-image {
  width: 4rem;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lista-item {
  list-style: none;
  margin: 0;
}

.lista-item a {
  text-decoration: none;
  color: black;
}

lista-item__link:hover {
  color: var(--Soft-orange);
}

.container-image {
  width: 100%;
  margin-bottom: 0.4rem;
}

.imagen-principal {
  width: 90vw;
  height: 50vh;
  background: url("../images/image-web-3-mobile.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.titulo-principal {
  font-size: 3.4rem;
  padding-top: -1rem;
  font-weight: 900;
  line-height: 4rem;
  margin-bottom: 2rem;
  width: 75vw;
}

.texto-principal {
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 400;
  color: var(--Dark-grayish-blue);
  margin-bottom: 2rem;
}

.btn-principal {
  background-color: var(--Soft-red);
  width: 54%;
  height: 4.5rem;
  border: none;
  color: var(--Off-white);
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
}

.segunda {
  background-color: var(--Very-dark-blue);
  padding: 2rem;
}

.titulo-contenedor__section2 {
  color: var(--Off-white);
}

.titulo-section2 {
  color: var(--Soft-orange);
  margin: 1rem 1rem 2rem;
  font-size: 2.6rem;
}

.titulo-contenedor__section2 {
  font-size: 1.8rem;
  margin: 0 1rem 1rem;
}

.texto-contenedor__section2 {
  color: var(--Grayish-blue);
  margin: 0 1rem 3rem;
  font-size: 1.4rem;
}

.container-texto__section2 {
  border-bottom: 1px solid;
  border-color: var(--Grayish-blue);
  margin-bottom: 3rem;
  border-bottom-width: 80%;
  line-height: 2.4rem;
}

#sin-borde {
  border: none;
  margin-bottom: -2.5rem;
}

.caja-noticias {
  display: flex;
  margin-bottom: 3rem;

}

.img-noticia {
  width: 10rem;
  margin-right: 2rem;
}

.noticia-info {
  display: flex;
  flex-direction: column;
}

.noticia-info__item1 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--Grayish-blue);
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
}

.noticia-info__item2 {
  color: var(--Very-dark-blue);
  font-size: 1.8rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

.noticia-info__item3 {
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: var(--Dark-grayish-blue);
  font-weight: 400;
}

@media screen and (min-width: 735px) {
  * {
    max-width: 1440px;
  }

  body {
    padding: 8rem 12rem 8rem;
    margin: 0 auto;
  }

  main {
    display: flex;
    flex-wrap: wrap;
  }

  .container-hamburguer {
    display: none;
  }

  .lista-item__link {
    display: block;
  }

  .lista-navbar {
    display: block;
  }

  .container-header {
    margin-bottom: 5rem;
  }

  .logo-image {
    width: 8rem;
  }

  .menu-principal {
    display: flex;
    justify-content: space-between;
  }

  .lista-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 35vw;
  }

  .lista-item__link {
    font-size: 1.6rem;
    color: var(--Grayish-blue);
    font-weight: 400;
    justify-content: space-between;
  }

  .lista-item__link:hover {
    color: var(--Soft-red);
  }

  .primera {
    width: 64%;
    margin-right: 2.5rem;
  }

  .container-image {
    width: 100%;
    margin: 0;
  }

  .imagen-principal {
    background-image: url("../images/image-web-3-desktop.jpg");
    left: 0;
    width: 100%;
    height: 44vh;
    background-position: left;
  }

  .contenedor-info {
    display: flex;
    margin-top: 5rem;
  }

  .titulo-primera {
    display: flex;
    flex-wrap: wrap;
    width: 25vw;
    margin-right: 1rem;
  }

  .titulo-principal {
    font-size: 6.2rem;
    line-height: 6rem;
    color: var(--Very-dark-blue);
  }

  .contenedor-info-primera {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .texto-principal {
    font-size: 1.6rem;
    width: 23.4vw;
  }

  .segunda {
    width: 27.5vw;
    margin-top: 1.8rem;
  }

  .titulo-section2 {
    font-size: 3.4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .titulo-contenedor__section2:hover {
    color: var(--Soft-orange);
    cursor: pointer;
  }

  .btn-principal {
    transition: 0.4s;
  }

  .btn-principal:hover {
    cursor: pointer;
    background-color: var(--Very-dark-blue);
  }

  .contenedor-noticias {
    display: flex;
  }
}

@media screen and (min-width: 1475px) {
  .primera {
    width: 62%;
    margin-right: 2.5rem;
  }
}
